<h1 class="container-fluid px-6">Login</h1>

<div class="container-fluid px-6">
  <%= form_with url: "/sessions" do |form| %>
    <p>
      <%= form.label "email" %>
      <%= form.text_field "email" %>
      <%= form.label "password" %>
      <%= form.password_field "password" %> <!--hides password -->
    </p>
    
    <p>
      <%= form.submit "Login", class: "btn btn-primary btn-sm" %> <!-- turns into button -->
    </p>
  <% end %>
</div> 