<h1 class="container-fluid px-6"><%= @place.name %></h1>

<% if @current_user %>

  <p class="container-fluid px-6">
    <a class = "btn btn-primary btn-sm" href="/posts/new?place_id=<%= @place.id %>">New Post</a>
    <a class = "btn btn-secondary btn-sm" href="/places">Back to All Places</a>
  </p>

  <h4 class="container-fluid px-6">My Posts</h4>

  <div class = "container-fluid px-6">
    <div class="row">
      <% for post in @place.posts %>
        <% if post.user_id == @current_user.id %>
          <div class = "col-lg-4 col-sm-12 mb-3 h-100%">
            <h5><%= post.title %></h5>
            <h6><%= post.posted_on %></h6>
            <% if post.uploaded_image.attached? %>
              <img src="<%= url_for(post.uploaded_image)%>" class="img-fluid">
            <% else %>
              <img src="https://via.placeholder.com/200" class="img-fluid">
            <% end %>
            <p class="mt-3 text-break"><%= post.description %></p>
          </div>
        <% end %>
      <% end %>
    </div> 
  </div>

<% end %>